@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewData["Title"]</h1>
<p>Welome. You have entered wheat specials service. It is a place where you can add, modify, delete, update and describe items.</p>
<p>But what items? On this site "wheat specials" is an elegant term for wheat beers. Why? Because we - Wheat Specialists Inc development team belive that is important for our future.</p>
